
body {
    background-color: rgb(238, 233, 226);
}

#clockContainer{
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(digital_clock-removebg-preview.png) no-repeat;
    background-size: 100%;
    position: relative;
    margin-top: 7.2%;
}

#hour, #minute, #second{
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1.2%;
    height: 17%;
    top: 19.5%;
    left: 48.9%;
    background: black;
    opacity: 0.8;

}
#minute{
    width: 0.9%;
    height: 22.5%;
    top: 14%;
    left: 49.1%;
    opacity: 0.8;
    background: black;
}
#second{
    width: 0.6%;
    height: 23.5%;
    top: 13%;
    left: 49.2%;
    opacity: 0.8;
    background: black;

}